#outer-container {
  padding: 3rem;
}

.app {
  background-color: var(--dark-turqoise);
  color: white;
  padding: 1rem;
  height: 400px;
  width: 300px;
  margin-left: 12px;
  margin-top: 10px;
  font-family: 'Quicksand';
  overflow: auto;
}

.app::-webkit-scrollbar {
    display: none;
  }

#apps {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


  /* Phone and Small-Sized Screen */
  @media only screen and (max-width: 635px) {
    #apps { 
        margin-left: 10vw;
    }
  }


  
  /* Phone and Small-Sized Screen */
  @media only screen and (min-width: 635px) and (max-width: 1024px) {
    #apps {
        margin-left: 8%;
    }
  }

  
  /* Phone and Small-Sized Screen */
  
  /* Tablet and Mid-Sized Screen */
  @media only screen and (min-width: 1025px) and (max-width: 1300px) {
    #apps {
        margin-left: 10%;
    }
  }
  
  /* Laptops and Large-Sized Screen */
  @media only screen and (min-width: 1301px) {
    #apps {
        margin-left: 20%;
    }
  }
  

a {
    margin-left: 2vw;
}
button {
    border: transparent;
    background-color: var(--dark-seafoam-green);
}