/* Phone and Small-Sized Screen */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .link-tags {
    animation: fadeIn 0.75s;
  }
  
  

@media only screen and (max-width: 1025px) {
  #cancelIcon {
    position: absolute;
    left: 20px;
    /* top: -100px; */
    /* margin-top: 50px;/ */
  }
  nav {
    right: 0px;
    display: none;
    position: fixed;
    transition: 0.7s;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -130px;
  }
  .link {
    text-decoration: none;
    color: var(--light-green);
    width: 180px;
    height: 20px;
  }
  .link:hover {
    color: var(--light-green);
  }
  .link-tags {
    font-size: 6vh;
    margin-bottom: 3vh;
  }
  /* h5 {
        font-size: 10em;
    } */
}

/* Tablet and Mid-Sized Screen */
@media only screen and (min-width: 1026px) and (max-width: 1300px) {
  #menuIcon {
    display: none;
  }
  #cancelIcon {
    display: none;
  }

  nav {
    top: 30px;
    right: 0px;
    display: flex;
    position: fixed;
  }
  .link {
    text-decoration: none;
    color: var(--light-green);
    width: 180px;
    height: 20px;
  }
  .link:hover {
    color: var(--light-green);
  }
}

/* Laptops and Large-Sized Screen */
@media only screen and (min-width: 1301px) {
  #menuIcon {
    display: none;
  }
  #cancelIcon {
    display: none;
  }

  nav {
    top: 30px;
    right: 0px;
    display: flex;
    position: fixed;
  }
  .link {
    text-decoration: none;
    color: var(--light-green);
    font-family: 'Quicksand';
    width: 180px;
    height: 20px;
  }
  .link:hover {
    color: var(--light-green);
  }
}
