@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#main,
#about,
#applications, 
.title {
  animation: fadeIn 0.75s;
}

#name,
.title,
#abt-desc {
  font-family: "Quicksand";
}

/* Phone and Small-Sized Screen */
@media only screen and (max-width: 900px) {
  #name {
    font-size: 2.4em;
    color: var(--light-green);
    margin-top: -0.56em;
  }
  #splash {
    margin-top: 20em;
    padding: 4%;
  }
  .title {
    color: var(--light-green);
    margin-right: 15vw;
    font-size: 3.5rem;
  }
  #abt-desc {
    width: 75%;
    margin-left: 13vw;
    margin-top: -15.3em;
    font-size: 1em;
    width: 70%;
    height: 30%;
    font-weight: bolder;
  }

  #app-circles {
    /* margin-top: -600px; */
    margin-left: 0vw;
    position: absolute;
    top: -210px;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  #form {
    width: 300px;
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
  }
}


/* Phone and Small-Sized Screen */
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  #name {
    font-size: 2.1em;
    margin-left: 4em;
    color: var(--light-green);
    margin-bottom: 2em;
    margin-top: 2em;
  }
  #splash {
    font-size: 2em;
    padding: 4%;
  }
  .title {
    color: var(--light-green);
    font-size: 4em;
    /* margin-top: -0.3em; */
  }
  #abt-desc {
    width: 80vw;
    margin-left: 10%;
    margin-top: -5em;
    font-size: 2em;
    font-weight: bolder;
  }
  #app-circles {
    /* margin-top: -600px; */
    margin-top: 3vw;
    position: absolute;
    top: -18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #form {
    width: 300px;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Tablet and Mid-Sized Screen */
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  #name {
    font-size: 2.1em;
    margin-left: 4em;
    color: var(--light-green);
    margin-bottom: 2em;
    margin-top: 2em;
  }
  #splash {
    font-size: 2em;
    padding: 4%;
  }
  .title {
    color: var(--light-green);
    font-size: 4em;
    /* margin-top: -0.3em; */
  }
  #abt-desc {
    width: 80vw;
    margin-left: 10%;
    margin-top: -5em;
    font-size: 2em;
    font-weight: bolder;
  }

  #app-circles {
    margin-top: -58vh;
    margin-left: 33vw;
  }
  #form {
    width: 300px;
    position: absolute;
    top: 44%;
    left: 49%;
    transform: translate(-50%, -50%);
  }
}

/* Laptops and Large-Sized Screen */
@media only screen and (min-width: 1301px) {
  #name {
    font-size: 3.5em;
    margin-left: 3em;
    color: var(--light-green);
    margin-bottom: 1em;
    margin-top: 3vh;
    font-family: "Quicksand";
  }
  #splash {
    font-size: 2em;
    padding: 4%;
  }
  .title {
    color: var(--light-green);
    font-size: 4em;
    font-family: "Quicksand";
  }
  #abt-desc {
    width: 80vw;
    margin-left: 10%;
    margin-top: -5em;
    font-size: 2em;
    font-family: "Quicksand";
  }

  #app-circles {
    /* margin-top: -58vh;
    margin-left: 37vw; */
    position: absolute;
    top: -10%;
    /* left: 30%; */
    margin-left: 50%;
    transform: translate(-50%, -50%);
  }
  #form {
    width: 300px;
    position: absolute;
    top: 42%;
    /* left: 30%; */
    margin-left: 46%;
    transform: translate(-50%, -50%);
  }
}

:focus {
  outline: none;
}



hr {
  border-top: 10px;
  animation: createBox 2s;
  width: 90vw;
  height: 100px;
  position: absolute;
  /* top: 70%; */
  /* margin-top: 10%; */
  left: 50%;
  transform: translate(-50%, -50%);

}

@keyframes createBox {
  from {
    width: 5px;
  }
  to {
    width: 90vw;
  }
}