@media only screen and (max-width: 1245px) {
    #name {
        font-size: 2.7em;
        color: var(--light-green);
    }
    #about {
        margin-top: 20em;
         padding: 4%
    }
  }

  @media only screen and (min-width: 1246px) and (max-width: 1300px) {
    #name {
        font-size: 2.5em;
        margin-left: 2em;
        color: var(--light-green);
        margin-bottom: 2em;
        /* margin-top: 2em; */
    }
    #about {
        font-size: 2em;
        padding: 4%
    }
    
  }

  @media only screen and (min-width: 1301px) {
    #name {
        font-size: 3.5em;
        margin-left: 3em;
        color: var(--light-green);
        margin-bottom: 1em;
        /* margin-top: 2em; */
    }
    #about {
        font-size: 2em;
        padding: 4%
    }
}